@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-form {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: url('skensajayawow.png') no-repeat center center/cover;
    padding: 30px;
    display: grid;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.desainpemodelan {
    position: absolute;
    margin-left: 335px;
    color:#fff
}
.desainpemodelan{
    font-size: 55px;
}

.login-form h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.login-form h2 {
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #272346;
    text-align: center;
}

.login-form .main {
    position: relative;
    display: flex;
    margin: 30px 0;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 10px;
    align-items: center;
}

.remember-forgot label {
    display: flex;
    align-items: center;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.content {
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-img {
    flex-basis: 50%;
    background-image: url(praktek.png);
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}

.form-img img {
    max-width: 100%;
}

p {
    color: #000;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.6;
    text-align: center;
}

.btn, button, input {
    border-radius: 35px;
}

.btn:hover, button:hover {
    color: #272346;
    transition: 0.5s ease;
}

a {
    text-decoration: none;
}

.login-form form {
    margin: 30px 0;
}

.login-form input {
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    color: #000000;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #f7fafc;
    transition: 0.3s ease;
    border-radius: 0;
}

.login-form input::placeholder {
    color: #999;
}

.login-form input:focus {
    background: transparent;
    border: 2px solid #000;
}

.login-form button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #dbc45c;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.3s ease;
}

p.account  {
    color:#000
}
p.account a {
    color: #4e34b6;
}

p.account a:hover {
    text-decoration: underline;
}

@media (max-width: 736px) {
    .login-form .main {
        flex-direction: column;
    }

    .login-form form {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .form-img {
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }

    .content {
        order: 1;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}